psutil==7.2.2
colorama==0.4.6
recbole==1.2.1
pip==24.1.2
types-setuptools==82.0.0.20260210
requirements-parser==0.9.0
setuptools==75.2.0
colorlog==4.7.2
thop==0.1.1-2209072238
numpy==1.26.4
ray==2.54.1
colorama==0.4.4
texttable==1.7.0
google-colab==1.0.0
moviepy==1.0.3
gin-config==0.5.0
grpclib==0.4.9
google-cloud-dataplex==2.18.0
tables==3.10.2
blinker==1.9.0
greenlet==3.3.2
pyparsing==3.3.2
tiktoken==0.12.0
ptyprocess==0.7.0
gitdb==4.0.12
opentelemetry-exporter-gcp-logging==1.11.0a0
httpimport==1.4.1
uc-micro-py==2.0.0
pygit2==1.19.2
PyJWT==2.12.1
tensorflow-probability==0.25.0
entrypoints==0.4
parso==0.8.6
intel-openmp==2025.3.3
cuda-toolkit==12.8.1
affine==2.4.0
omegaconf==2.3.0
fasttransform==0.0.2
Authlib==1.6.9
argon2-cffi-bindings==25.1.0
bigframes==2.38.0
tinycss2==1.4.0
tifffile==2026.3.3
ipython-sql==0.5.0
pytest==8.4.2
cryptography==43.0.3
nvidia-nvimgcodec-cu12==0.7.0.11
libcuvs-cu12==26.2.0
nx-cugraph-cu12==26.2.0
nvidia-cusparselt-cu12==0.7.1
groovy==0.1.2
fastcore==1.12.33
dm-tree==0.1.10
ipyevents==2.0.4
traittypes==0.2.3
google-cloud-dataproc==5.26.0
matplotlib==3.10.0
music21==9.9.1
multidict==6.7.1
opentelemetry-semantic-conventions==0.59b0
Flask==3.1.3
earthengine-api==1.5.24
semantic-version==2.10.0
httpx-sse==0.4.3
rasterstats==0.20.0
Send2Trash==2.1.0
py4j==0.10.9.9
oauthlib==3.3.1
cymem==2.0.13
py-cpuinfo==9.0.0
toolz==0.12.1
fastprogress==1.1.5
cuvs-cu12==26.2.0
torchao==0.10.0
defusedxml==0.7.1
fastlite==0.2.4
umap-learn==0.5.11
PyWavelets==1.9.0
wandb==0.25.1
keyring==25.7.0
tcmlib==1.4.1
jupyterlab_pygments==0.3.0
google-api-core==2.30.1
tomlkit==0.13.3
ipykernel==6.17.1
pygame==2.6.1
matplotlib-inline==0.2.1
google-cloud-storage==3.10.1
rfc3339-validator==0.1.4
ipyleaflet==0.20.0
PyYAML==6.0.3
Werkzeug==3.1.7
jupyterlab_widgets==3.0.16
gradio==5.50.0
glob2==0.7
google-adk==1.28.0
protobuf==5.29.6
keras-nlp==0.26.0
altair==5.5.0
rsa==4.9.1
scooby==0.11.0
gcsfs==2025.3.0
rmm-cu12==26.2.0
soupsieve==2.8.3
webcolors==25.10.0
mkl==2025.3.1
humanize==4.15.0
cramjam==2.11.0
bqplot==0.12.45
quantecon==0.11.1
nvidia-nvshmem-cu12==3.4.5
deprecation==2.1.0
nvtx==0.2.15
jupyter-console==6.6.3
pycparser==3.0
sniffio==1.3.1
jiter==0.13.0
dataproc-spark-connect==1.0.2
diffusers==0.37.1
tensorflow_decision_forests==1.12.0
fqdn==1.5.1
astropy==7.2.0
h11==0.16.0
grain==0.2.16
dask-cudf-cu12==26.2.1
sentencepiece==0.2.1
uuid_utils==0.14.1
sympy==1.14.0
cloudpickle==3.1.2
psutil==5.9.5
pyOpenSSL==24.2.1
pyasn1_modules==0.4.2
prompt_toolkit==3.0.52
chardet==5.2.0
sphinxcontrib-devhelp==2.0.0
libraft-cu12==26.2.0
namex==0.1.0
safehttpx==0.1.7
opencv-python==4.13.0.92
Jinja2==3.1.6
google-genai==1.68.0
Cython==3.0.12
google-ai-generativelanguage==0.6.15
sentence-transformers==5.3.0
tblib==3.2.2
multitasking==0.0.12
jaraco.functools==4.4.0
wasabi==1.1.3
patsy==1.0.2
geopy==2.4.1
zstandard==0.25.0
beautifulsoup4==4.13.5
shapely==2.1.2
fonttools==4.62.1
google-cloud-appengine-logging==1.9.0
locket==1.0.0
google-auth==2.47.0
contourpy==1.3.3
pyasn1==0.6.3
itsdangerous==2.2.0
torchaudio==2.10.0+cu128
idna==3.11
google-cloud-iam==2.22.0
yellowbrick==1.5
spreg==1.9.0
pydata-google-auth==1.9.1
stumpy==1.13.0
google-cloud-spanner==3.63.0
uvloop==0.22.1
types-pytz==2026.1.1.20260304
joblib==1.5.3
jaraco.context==6.1.2
torchdata==0.11.0
imageio-ffmpeg==0.6.0
murmurhash==1.0.15
google-generativeai==0.8.6
dlib==19.24.6
google-cloud-core==2.5.1
curl_cffi==0.14.0
pylibcugraph-cu12==26.2.0
nvidia-cuda-nvrtc-cu12==12.8.93
google-cloud-functions==1.23.0
watchdog==6.0.0
h5netcdf==1.8.1
jsonpointer==3.1.1
safetensors==0.7.0
filelock==3.25.2
textblob==0.19.0
google-cloud-language==2.20.0
python-snappy==0.7.3
opentelemetry-exporter-gcp-trace==1.11.0
typing-inspection==0.4.2
google-cloud-aiplatform==1.143.0
charset-normalizer==3.4.6
xlrd==2.0.2
nbclient==0.10.4
progressbar2==4.5.0
sphinxcontrib-jsmath==1.0.1
pydot==4.0.1
cmake==3.31.10
nvidia-cublas-cu12==12.8.4.1
google-cloud-bigquery-connection==1.21.0
distributed-ucxx-cu12==0.48.0
pyerfa==2.0.1.5
cffi==2.0.0
nbclassic==1.3.3
decorator==4.4.2
nvidia-cuda-cccl-cu12==12.9.27
regex==2025.11.3
db-dtypes==1.5.1
ormsgpack==1.12.2
torchvision==0.25.0+cu128
kiwisolver==1.5.0
parsy==2.2
typeguard==4.5.1
mlxtend==0.23.4
notebook==6.5.7
ipytree==0.2.2
cuda-pathfinder==1.5.0
nvidia-ml-py==13.595.45
spint==1.0.7
pickleshare==0.7.5
nvidia-nvjitlink-cu12==12.8.93
matplotlib-venn==1.1.2
jsonschema==4.26.0
threadpoolctl==3.6.0
platformdirs==4.9.4
gast==0.7.0
geocoder==1.38.1
mistune==3.2.0
msgpack==1.1.2
langgraph==1.1.4
tensorflow==2.19.0
tf_keras==2.19.0
nest-asyncio==1.6.0
jupyter_server_terminals==0.5.4
Sphinx==8.2.3
shap==0.51.0
langgraph-prebuilt==1.0.8
access==1.1.10.post3
python-slugify==8.0.4
langgraph-checkpoint==4.0.1
pyroaring==1.0.4
scs==3.2.11
google-auth-httplib2==0.3.1
datasets==4.0.0
missingno==0.5.2
torch==2.10.0+cu128
pillow==11.3.0
xarray-einstats==0.10.0
astropy-iers-data==0.2026.3.30.0.54.34
ndindex==1.10.1
scikit-learn==1.6.1
opentelemetry-sdk==1.38.0
ffmpy==1.0.0
proglog==0.1.12
python-json-logger==4.1.0
llvmlite==0.43.0
confection==1.3.3
prometheus_client==0.24.1
cvxopt==1.3.2
sphinxcontrib-qthelp==2.0.0
blobfile==3.2.0
vega-datasets==0.9.0
mcp==1.26.0
blosc2==4.1.2
beartype==0.22.9
googledrivedownloader==1.1.0
tobler==0.13.0
sqlglot==25.20.2
polars==1.35.2
opentelemetry-exporter-gcp-monitoring==1.11.0a0
grpcio-status==1.71.2
ImageIO==2.37.3
blis==1.3.3
srsly==2.5.3
distributed==2026.1.1
jaxlib==0.7.2
aiosqlite==0.22.1
promise==2.3
openai==2.30.0
pylibcudf-cu12==26.2.1
param==2.3.3
pydantic_core==2.41.4
cuml-cu12==26.2.0
catalogue==2.0.10
certifi==2026.2.25
ipyparallel==8.8.0
mizani==0.13.5
google-cloud-bigquery-storage==2.37.0
urllib3==2.5.0
multipledispatch==1.0.0
dill==0.3.8
thinc==8.3.13
pyviz_comms==3.0.6
jsonpatch==1.33
branca==0.8.2
splot==1.1.7
wcwidth==0.6.0
tzdata==2025.3
referencing==0.37.0
spopt==0.7.0
tbb==2022.3.1
watchfiles==1.1.1
sqlparse==0.5.5
holidays==0.93
ipython==7.34.0
tabulate==0.9.0
pydub==0.25.1
nvidia-cusparse-cu12==12.5.8.93
nvidia-nvtx-cu12==12.8.90
widgetsnbextension==3.6.10
debugpy==1.8.15
etils==1.14.0
simplejson==3.20.2
python-fasthtml==0.12.50
grpc-google-iam-v1==0.14.3
fiona==1.10.1
cvxpy==1.6.7
cuda-bindings==12.9.4
nvidia-cuda-nvcc-cu12==12.5.82
triton==3.6.0
wrapt==2.1.2
gymnasium==1.2.3
propcache==0.4.1
spanner-graph-notebook==1.1.8
rpy2==3.5.17
momepy==0.11.0
google-cloud-firestore==2.26.0
soxr==1.0.0
imutils==0.5.4
ml_dtypes==0.5.4
uri-template==1.3.0
aiohappyeyeballs==2.6.1
scipy==1.16.3
polars-runtime-32==1.35.2
linkify-it-py==2.1.0
zict==3.0.0
gym==0.25.2
opentelemetry-resourcedetector-gcp==1.11.0a0
Mako==1.3.10
tensorstore==0.1.82
pydotplus==2.0.2
backcall==0.2.0
gym-notices==0.1.0
toml==0.10.2
websockets==15.0.1
aiofiles==24.1.0
community==1.0.0b1
google-cloud-pubsub==2.36.0
PyOpenGL==3.1.10
etuples==0.3.10
panel==1.8.10
editdistance==0.8.1
typing_extensions==4.15.0
brotli==1.2.0
fastapi==0.135.2
hpack==4.1.0
pyproj==3.7.2
flax==0.11.2
google-api-python-client==2.193.0
google-cloud-bigtable==2.35.0
more-itertools==10.8.0
importlib_resources==6.5.2
numba-cuda==0.22.2
jax-cuda12-pjrt==0.7.2
nvidia-cuda-runtime-cu12==12.8.90
spacy-legacy==3.0.12
uvicorn==0.42.0
jsonpickle==4.1.1
sklearn-pandas==2.2.0
aiohttp==3.13.4
python-dotenv==1.2.2
plum-dispatch==2.8.0
httptools==0.7.1
nbconvert==7.17.0
miniKanren==1.0.5
librmm-cu12==26.2.0
google-cloud-speech==2.38.0
anywidget==0.9.21
networkx==3.6.1
optax==0.2.8
dask==2026.1.1
seaborn==0.13.2
nvidia-cusolver-cu12==11.7.3.90
tokenizers==0.22.2
Markdown==3.10.2
starlette==0.52.1
keras-hub==0.26.0
strictyaml==1.7.3
snowballstemmer==3.0.1
tornado==6.5.1
libkvikio-cu12==26.2.0
colorlover==0.3.0
pyzmq==26.2.1
googleapis-common-protos==1.73.1
smart_open==7.5.1
apsw==3.51.3.0
alabaster==1.0.0
pysal==25.7
lark==1.3.1
requests-oauthlib==2.0.0
holoviews==1.22.1
jupyter-leaflet==0.20.0
segregation==2.5.4
fsspec==2025.3.0
packaging==26.0
natsort==8.4.0
fastdownload==0.0.7
PyGObject==3.48.2
google-cloud-monitoring==2.30.0
future==1.0.0
requests==2.32.4
tensorboard==2.19.0
gspread-dataframe==4.0.0
hyperopt==0.2.7
html5lib==1.1
jsonschema-specifications==2025.9.1
google-cloud-datastore==2.24.0
pooch==1.9.0
keras==3.13.2
bleach==6.3.0
anyio==4.13.0
pandas-datareader==0.10.0
google-cloud-translate==3.25.0
inflect==7.5.0
numba==0.60.0
pandas-stubs==2.2.2.240909
firebase-admin==6.9.0
preshed==3.0.13
wordcloud==1.9.6
nvidia-curand-cu12==10.3.9.90
alembic==1.18.4
opencv-python-headless==4.13.0.92
librosa==0.11.0
pandas==2.2.2
cloudpathlib==0.23.0
hdbscan==0.8.42
libclang==18.1.1
python-dateutil==2.9.0.post0
nibabel==5.4.2
click-plugins==1.1.1.2
PyDrive2==1.21.3
clarabel==0.11.1
pynndescent==0.6.0
rfc3987-syntax==1.1.0
peft==0.18.1
MarkupSafe==3.0.3
rapids-logger==0.2.3
autograd==1.8.0
imbalanced-learn==0.14.1
jupyter_kernel_gateway==2.5.2
libcuml-cu12==26.2.0
Pygments==2.20.0
tsfresh==0.21.1
rfc3986-validator==0.1.1
mdit-py-plugins==0.5.0
raft-dask-cu12==26.2.0
fastjsonschema==2.21.2
sqlalchemy-spanner==1.17.3
opentelemetry-exporter-otlp-proto-http==1.38.0
kagglehub==1.0.0
h2==4.3.0
xarray==2025.12.0
libcudf-cu12==26.2.1
easydict==1.13
rtree==1.4.1
tensorflow-hub==0.16.1
geopandas==1.1.3
jax==0.7.2
google-cloud-bigquery==3.41.0
rapids-dask-dependency==26.2.0
text-unidecode==1.3
torchsummary==1.5.1
google-crc32c==1.8.0
stringzilla==4.6.0
httpx==0.28.1
httplib2==0.31.2
torchcodec==0.10.0+cu128
pymc==5.28.3
traitlets==5.7.1
nvidia-cufft-cu12==11.3.3.83
langgraph-sdk==0.3.12
frozenlist==1.8.0
sphinxcontrib-serializinghtml==2.0.0
mdurl==0.1.2
cudf-cu12==26.2.1
google==3.0.0
tenacity==9.1.4
google-auth-oauthlib==1.3.1
jax-cuda12-plugin==0.7.2
arrow==1.4.0
xyzservices==2026.3.0
nvidia-cufile-cu12==1.13.1.3
spacy==3.8.14
jupytext==1.19.1
esda==2.9.0
cupy-cuda12x==14.0.1
docutils==0.21.2
grpc-interceptor==0.15.4
nvidia-cuda-cupti-cu12==12.8.90
pandas-gbq==0.30.0
cucim-cu12==26.2.0
flatbuffers==25.12.19
simple-parsing==0.1.8
aiosignal==1.4.0
geographiclib==2.1
libpysal==4.14.1
tensorflow-text==2.19.0
libucx-cu12==1.19.0
geemap==0.35.3
slicer==0.0.8
simsimd==6.5.16
stanio==0.5.1
astunparse==1.6.3
ibis-framework==9.5.0
pyomo==6.10.0
opt_einsum==3.4.0
frozendict==2.4.7
typer-slim==0.24.0
apswutils==0.1.2
immutabledict==4.3.1
fastai==2.8.7
pluggy==1.6.0
cudf-polars-cu12==26.2.1
cmdstanpy==1.3.0
ydf==0.15.0
pydantic==2.12.3
array_record==0.8.3
statsmodels==0.14.6
graphviz==0.21
google-cloud-audit-log==0.5.0
portpicker==1.5.2
markdown-it-py==4.0.0
rasterio==1.5.0
annotated-types==0.7.0
optree==0.19.0
gspread==6.2.1
tensorflow-metadata==1.17.3
onemkl-license==2025.3.1
SQLAlchemy==2.0.48
sortedcontainers==2.4.0
orjson==3.11.8
termcolor==3.3.0
h5py==3.16.0
xxhash==3.6.0
jupyter_server==2.14.0
cycler==0.12.1
google-resumable-media==2.8.2
importlib_metadata==8.7.1
cuda-python==12.9.4
torchtune==0.6.1
et_xmlfile==2.0.0
PuLP==3.3.0
webencodings==0.5.1
langchain-core==1.2.23
google-cloud-discoveryengine==0.13.12
cufflinks==0.17.3
mmh3==5.2.1
colorcet==3.1.0
pandocfilters==1.5.1
ucxx-cu12==0.48.0
Farama-Notifications==0.0.4
psygnal==0.15.1
roman-numerals-py==4.1.0
websocket-client==1.9.0
tweepy==4.16.0
distro==1.9.0
pyiceberg==0.11.1
einops==0.8.2
click==8.3.1
langchain==1.2.14
cligj==0.7.2
duckdb==1.3.2
typer==0.24.1
cyipopt==1.5.0
ruff==0.15.8
huggingface_hub==1.8.0
gradio_client==1.14.0
prettytable==3.17.0
notebook_shim==0.2.4
atpublic==5.1
libcugraph-cu12==26.2.0
treelite==4.7.0
ipywidgets==7.7.1
python-utils==3.9.1
rich==13.9.4
tf-slim==1.1.0
six==1.17.0
dask-cuda==26.2.0
cuda-core==0.3.2
opentelemetry-exporter-otlp-proto-common==1.38.0
transformers==5.0.0
zipp==3.23.0
opentelemetry-api==1.38.0
hf-xet==1.4.2
babel==2.18.0
albumentations==2.0.8
nltk==3.9.1
ipython-genutils==0.2.0
dopamine_rl==4.1.2
jupyter_client==7.4.9
pycairo==1.29.0
docstring_parser==0.17.0
timm==1.0.26
pytensor==2.38.2
sentry-sdk==2.57.0
openpyxl==3.1.5
pexpect==4.9.0
uritemplate==4.2.0
cons==0.4.7
mgwr==2.2.1
sphinxcontrib-htmlhelp==2.1.0
pyarrow==18.1.0
peewee==4.0.3
intel-cmplr-lib-ur==2025.3.3
prophet==1.3.0
mpmath==1.3.0
spacy-loggers==1.0.5
GitPython==3.1.46
osqp==1.1.1
soundfile==0.13.1
tzlocal==5.3.1
nvidia-cudnn-cu12==9.10.2.21
yarl==1.23.0
pyshp==3.0.3
en_core_web_sm==3.8.0
absl-py==1.4.0
lxml==6.0.2
jaraco.classes==3.4.0
plotnine==0.14.5
rpds-py==0.30.0
umf==1.0.3
pyperclip==1.11.0
sse-starlette==3.3.4
argon2-cffi==25.1.0
weasel==1.0.0
ipyfilechooser==0.6.0
grpcio==1.80.0
albucore==0.0.24
mapclassify==2.10.0
highspy==1.13.1
roman-numerals==4.1.0
google-pasta==0.2.0
Bottleneck==1.4.2
smmap==5.0.3
giddy==2.3.6
plotly==5.24.1
pydantic-settings==2.13.1
jieba==0.42.1
ratelim==0.1.6
audioread==3.1.0
isoduration==20.11.0
sklearn-compat==0.1.5
google-cloud-trace==1.19.0
yfinance==0.2.66
treescope==0.1.10
kagglesdk==0.1.16
narwhals==2.18.1
google-cloud-logging==3.15.0
GDAL==3.8.4
folium==0.20.0
lazy-loader==0.5
shellingham==1.5.4
google-cloud-resource-manager==1.17.0
ale-py==0.11.2
pytz==2025.2
tqdm==4.67.3
pyspark==4.0.2
sphinxcontrib-applehelp==2.0.0
gdown==5.2.1
httpcore==1.0.9
partd==1.4.2
google-cloud-secret-manager==2.27.0
jupyter_core==5.9.1
spglm==1.1.0
requests-toolbelt==1.0.0
keyrings.google-artifactregistry-auth==1.1.2
langsmith==0.7.23
kaggle==2.0.0
tensorboard-data-server==0.7.2
attrs==26.1.0
python-box==7.4.1
imagesize==2.0.0
annotated-doc==0.0.4
xgboost==3.2.0
colour==0.1.5
nvidia-nccl-cu12==2.27.5
cachetools==6.2.6
nbformat==5.10.4
hyperframe==6.1.0
oauth2client==4.1.3
logical-unification==0.4.7
lightgbm==4.6.0
bokeh==3.8.2
CacheControl==0.14.4
terminado==0.18.1
PySocks==1.7.1
orbax-checkpoint==0.11.33
wurlitzer==3.1.1
python-louvain==0.16
spaghetti==1.7.6
opentelemetry-proto==1.38.0
wheel==0.46.3
tensorflow-datasets==4.9.9
pylibraft-cu12==26.2.0
SecretStorage==3.5.0
pycocotools==2.0.11
accelerate==1.13.0
psycopg2==2.9.11
proto-plus==1.27.2
jupyter-events==0.12.0
libucxx-cu12==0.48.0
overrides==7.7.0
betterproto==2.0.0b6
bigquery-magics==0.12.2
multiprocess==0.70.16
pointpats==2.5.5
eerepr==0.1.2
inequality==1.1.2
python-multipart==0.0.22
iniconfig==2.3.0
arviz==0.22.0
opencv-contrib-python==4.13.0.92
pycryptodomex==3.23.0
antlr4-python3-runtime==4.9.3
nvidia-libnvcomp-cu12==5.1.0.21
pyogrio==0.12.1
scikit-image==0.25.2
jeepney==0.9.0
numexpr==2.14.1
python-apt==0.0.0
recbole==1.2.1
SecretStorage==3.3.1
httplib2==0.20.2
importlib-metadata==4.6.4
wadllib==1.3.6
PyJWT==2.3.0
zipp==1.0.0
launchpadlib==1.10.16
python-apt==2.4.0+ubuntu4.1
dbus-python==1.2.18
jeepney==0.7.1
lazr.uri==1.0.6
keyring==23.5.0
distro==1.7.0
oauthlib==3.2.0
lazr.restfulclient==0.14.4
PyGObject==3.42.1
cryptography==3.4.8
six==1.16.0
blinker==1.4
more-itertools==8.10.0
pyparsing==2.4.7
Markdown==3.3.6
MarkupSafe==2.0.1
Mako==1.1.3
tomli==2.0.1
more-itertools==10.3.0
zipp==3.19.2
backports.tarfile==1.2.0
autocommand==2.2.2
importlib_metadata==8.0.0
wheel==0.43.0
typing_extensions==4.12.2
jaraco.functools==4.0.1
typeguard==4.3.0
jaraco.text==3.12.1
inflect==7.3.1
platformdirs==4.2.2
jaraco.collections==5.1.0
importlib_resources==6.4.0
jaraco.context==5.3.0
packaging==24.1
